$white: #fafafa;
$white-alt: #f4f4f4;
$black: #232323;
$black-alt: #333;

$primary: #29ABE2;
$primary-light: #6EDDFF;
$primary-dark: #007BC0;
$secondary: #C7B299;
$secondary-light: #FAE4CA;
$secondary-dark: #96836B;

$root-font-size: 62.5%;
$font-size: 1.6rem;

$font-default: 'Lato', Arial, sans-serif;
$font-header: 'Open Sans', Verdana, sans-serif;
