@import "variables";

html {
  background-color: $white;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
}
a.router-link-active {
  font-weight: bold;
}

.page.page-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page.page-dark-text {
  &,
  & a {
	color: $black;
  }
  & svg {
	fill: $black;
  }
}
