/**
 * Fade
 */
.fade-enter-active, .fade-leave-active {
  transition: .2s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/**
 * Morph
 */
$morph-duration: .2s;
$morph-scale: .4;
$morph-rotation: 45deg;
$morph-opacity: .1;

.morph-enter-active, .morph-leave-active {
  transition: $morph-duration ease;
}

.morph-enter-active {
  transition-delay: $morph-duration;
}

.morph-enter, .morph-leave-to {
  opacity: $morph-opacity;
}

.morph-enter {
  transform: rotate(-$morph-rotation) scale($morph-scale);
}

.morph-leave-active {
  position: absolute;
}

.morph-leave-to {
  transform: rotate($morph-rotation) scale($morph-scale);
}
