@import "variables";

html {
  font-family: $default-font;
  font-size: $root-font-size;
}

body {
  font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

p {
  margin: .8rem 0;
}

.heading-1 {
  font-size: 5rem;
}

.heading-2 {
  font-size: 3.5rem;
}

.heading-3 {
  font-size: 2rem;
}
