$white: #fafafa;
$white-alt: #f4f4f4;
$black: #232323;
$black-alt: #232323;

$primary: #29ABE2;
$primary-light: #6EDDFF;
$primary-dark: #007CB0;

$secondary: #C7B299;
$secondary-light: #FAE4CA;
$secondary-dark: #96836B;

$root-font-size: 62.5%;
$font-size: 1.6rem;

$default-font: 'Lato', Arial, sans-serif;
$header-font: 'Open Sans', Verdana, sans-serif;

$breakpoint-xs: 600px;
$breakpoint-sm: 1024px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

$container-padding: 8px;
$container-xs: 100%;
$container-sm: 675px;
$container-md: 960px;
$container-lg: 1154px;
$container-xl: 1368px;

